 <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Servis</th>
        <th>Kota</th>
        <th>Tipe</th>
        <th>Harga</th>
        <th>Kapasitas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars; let i=index">
        <td>{{i+1}}</td>
        <td>{{car.serviceName}}</td>
        <td>{{car.cityName}}</td>
        <td>{{car.carType}}</td>
        <td>{{car.price}}</td>
        <td>{{car.seat}}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" (click)="onView(car)">
            <span class="glyphicon glyphicon-eye-open"></span> 
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(car)">
            <span class="glyphicon glyphicon-trash"></span> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
