 <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Servis</th>
        <th>Kota</th>
        <th>Per Servis</th>
        <th>Per Jam</th>
        <th>Per Hari</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guide of guides; let i=index">
        <td>{{i+1}}</td>
        <td>{{guide.serviceName}}</td>
        <td>{{guide.cityName}}</td>
        <td>{{guide.cps}}</td>
        <td>{{guide.cphr}}</td>
        <td>{{guide.cpd}}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" (click)="onView(guide)">
            <span class="glyphicon glyphicon-eye-open"></span> 
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(guide)">
            <span class="glyphicon glyphicon-trash"></span> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
