<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Costumer</th>
      <th>Item</th>
      <th>Date</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let interaction of interactionService.collections; let i=index">
      <td>{{i+1}}</td>
      <td>{{interaction.costumerName}}</td>
      <td>{{interaction.service_name}}</td>
      <td>{{interaction.rsv_date}}</td>
      <td>{{interaction.price}}</td>
      <td>{{interaction.statusName}}</td>
      <td>
        <button *ngIf="isCanApprove(interaction)" type="button" class="btn btn-success btn-sm" (click)="onApproveInteraction(interaction)">
          Approve
        </button>
        <button *ngIf="isCanApprove(interaction)" type="button" class="btn btn-danger btn-sm" (click)="onRejectInteraction(interaction)">
          Reject
        </button>
        <button *ngIf="isCanCancel(interaction)" type="button" class="btn btn-danger btn-sm" (click)="onCancelInteraction(interaction)">
          Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>
